<launch>

    <!-- Launch task6 simulation -->
    <include file="$(find pkg_vb_sim)/launch/task6_simulation.launch" />
    
    <rosparam file ="$(find pkg_ros_iot_bridge)/config/config_pyiot.yaml"/>

    <!---Launch move groups-->
    <include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" />

</launch>
